In [38]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

In [2]:
def getdata(url):
    r = requests.get(url)
    return r.text

In [9]:
result_toppage = getdata('https://my.raceresult.com/177331/')

In [22]:
# Teams Sprint

headers = {
    'authority': 'my4.raceresult.com',
    'accept': 'application/json, text/javascript, */*; q=0.01',
    'accept-language': 'de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7,es;q=0.6',
    'origin': 'https://my.raceresult.com',
    'referer': 'https://my.raceresult.com/',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="102", "Google Chrome";v="102"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36',
}

params = {
    'eventid': '177331',
    'key': 'bc403ec7818ac31f6d054206f2d094d7',
    'listname': '000-Startlists|Startlist',
    'page': 'participants',
    'contest': '0',
    'r': 'all',
    'l': '0',
    'fav': '',
    'openedGroups': '{}',
    'term': '',
    'f': 'Team / Firmentriathlon Sprint\f<Ignore>\f<Ignore>\f<Ignore>',
}

response_sprint = requests.get('https://my4.raceresult.com/RRPublish/data/list.php', params=params, headers=headers)

In [47]:
# Teams Olympisch

headers = {
    'authority': 'my4.raceresult.com',
    'accept': 'application/json, text/javascript, */*; q=0.01',
    'accept-language': 'de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7,es;q=0.6',
    'origin': 'https://my.raceresult.com',
    'referer': 'https://my.raceresult.com/',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="102", "Google Chrome";v="102"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36',
}

params = {
    'eventid': '177331',
    'key': 'bc403ec7818ac31f6d054206f2d094d7',
    'listname': '000-Startlists|Startlist',
    'page': 'participants',
    'contest': '0',
    'r': 'all',
    'l': '0',
    'fav': '',
    'openedGroups': '{}',
    'term': '',
    'f': 'Team / Firmentriathlon Olympisch\f<Ignore>\f<Ignore>\f<Ignore>',
}

response_olympisch = requests.get('https://my4.raceresult.com/RRPublish/data/list.php', params=params, headers=headers)

In [53]:

def get_details(bib):

    headers = {
        'authority': 'my4.raceresult.com',
        'accept': 'application/json, text/javascript, */*; q=0.01',
        'accept-language': 'de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7,es;q=0.6',
        'origin': 'https://my.raceresult.com',
        'referer': 'https://my.raceresult.com/',
        'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="102", "Google Chrome";v="102"',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '"macOS"',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-site',
        'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36',
    }

    params = {
        'eventid': '177331',
        'key': 'bc403ec7818ac31f6d054206f2d094d7',
        'bib': bib,
    }

    response_details = requests.get('https://my4.raceresult.com/RRPublish/data/splits.php', params=params, headers=headers)
    return response_details

In [48]:
sprint_list = json.loads(response_sprint.text)
olympic_list = json.loads(response_olympisch.text)

In [42]:
ls_sprint=[]
for team in sprint_list['data']['#8_Team / Firmentriathlon Sprint']:
    bib = team[0]
    team_name = team[2]
    team_category = team[3]
    team_members = team[5]
    team_company = team[6]
    ls_sprint.append([bib, team_name,team_category,team_members,team_company])

In [50]:
ls_olympic=[]
for team in olympic_list['data']['#7_Team / Firmentriathlon Olympisch']:
    bib = team[0]
    team_name = team[2]
    team_category = team[3]
    team_members = team[5]
    team_company = team[6]
    ls_olympic.append([bib, team_name,team_category,team_members,team_company])

df_olympic = pd.DataFrame(ls_olympic,columns=['bib','team_name','team_category','team_members','team_company'])

In [43]:
df_sprint = pd.DataFrame(ls_sprint,columns=['bib','team_name','team_category','team_members','team_company'])

In [44]:
df_sprint.head()

,bib,team_name,team_category,team_members,team_company
0,2551,rebag NG power,Männlich,"Nicholas WEINGARTEN, Mohamed EL KASSAS, Erik Z...",rebagdata ag
1,2552,rebag good old OnPrem,Mixed,"Barbara FUCHS, Sebastian HOFFMANN, Marina SCHN...",rebagdata ag
2,2553,rebag (p)Air Force,Männlich,"Sandro BERGER, Adrian DE SOUZA, Andreas FRITZSCHE",rebagdata ag
3,2554,Julius Bär Operations - the old dudes,Männlich,"Fabio MAILLARD, Damian WOOD, Andreas WIRTHNER",Bank Julius Bär
4,2555,Julius Bär Operations - the young guns,Männlich,"Alessandro PALADINO, Ulrich MARTIN, Alexander ...",Bank Julius Bär

In [51]:
df_olympic.head()

,bib,team_name,team_category,team_members,team_company
0,2301,Fabrik11 _move_work_life,Mixed,"Thomas GÖTZ, Danielle VILLARS, Sven RIEDERER",Fabrik11 GmbH
1,2302,Langnau am Albis 1,Mixed,"Susi RAESS, Charlotte MÄCHLER, Adrian HAUSER",Gemeindeverwaltung Langnau am Albis
2,2303,Langnau am Albis,Mixed,"Manuel STRICKLER, Thomas OTT, Irène BACHMANN",Langnau am Albis 2
3,2304,bytics purple emotions,Mixed,"Chris GERBER, Siri LACZKO, Marco FERRARI",bytics AG for Business Software
4,2305,dein-dealer.ch,Männlich,"Sergio KAUFMANN, Gregory VON GRAFFENRIED, Joey...",dein-dealer.ch

In [52]:
print(len(df_sprint))
print(len(df_olympic))

246
212

In [128]:
def get_df_splits(type_of_competition,bib):
    res = get_details(bib)
    deets = json.loads(res.text)
    ls_timestamps=[]
    if len(deets['Splits']) > 0:
        for time in deets['Splits']:
            time.update({'bib':bib})
            ls_timestamps.append(time)
        df_timestamp = pd.DataFrame(ls_timestamps)
        minimum_split = min(df_timestamp.Split)
        df_timestamp['split_normalized'] = df_timestamp.Split - minimum_split
        df_timestamp["split_name"] = df_timestamp['split_normalized']

        if type_of_competition == 'olympisch':
            df_timestamp['split_name'].replace(mapping_olympisch, inplace=True)
        elif type_of_competition == 'sprint':
            df_timestamp['split_name'].replace(mapping_sprint, inplace=True)
        df_timestamp['TOD h'] = df_timestamp['TOD'] // 3600
        df_timestamp['TOD min'] = (df_timestamp['TOD'] % 3600) // 60
        df_timestamp['TOD sec'] = (df_timestamp['TOD'] % 3600) % 60
        df_timestamp['Chip min'] = df_timestamp['Chip'] // 60
        df_timestamp['Chip sec'] = (df_timestamp['Chip'] % 60)
        return df_timestamp
    else:
        print('not started / finished')
        return pd.DataFrame([1,1])

In [130]:
ls_split_df = []
for bib in df_sprint.bib:
    df = get_df_splits('sprint',bib)
    if len(df) > 3:
        ls_split_df.append(df)

not started / finished
not started / finished
not started / finished
not started / finished
not started / finished

In [135]:
for bib in df_olympic.bib:
    df = get_df_splits('olympisch',bib)
    if len(df) > 3:
        ls_split_df.append(df)

not started / finished
not started / finished
not started / finished
not started / finished
not started / finished
not started / finished
not started / finished
not started / finished
not started / finished
not started / finished

In [136]:
len(ls_split_df)

439

In [137]:
df_splits = pd.concat(ls_split_df)

In [138]:
df_splits

,Split,Exist,TOD,Gun,Chip,Sector,Speed,SpeedUnit,RO,RG,...,RGM,RAM,bib,split_normalized,split_name,TOD h,TOD min,TOD sec,Chip min,Chip sec
0,87,1,56822,122,0,0,0.0000,1,1.0,1.0,...,84.0,241.0,2552,0,Zwischenzeit - Gestartet,15,47,2,0,0
1,88,1,57925,1225,1103,1103,0.6804,3,123.0,39.0,...,84.0,237.0,2552,1,Zwischenzeit - Ende Schwimmen,16,5,25,18,23
2,89,1,58132,1432,1310,207,1.9337,0,139.0,44.0,...,84.0,237.0,2552,2,Zwischenzeit - Start Radfahren,16,8,52,21,50
3,90,1,58610,1910,1789,479,8.9772,4,133.0,38.0,...,84.0,237.0,2552,3,"Zwischenzeit - Radfahren - Bellerivestrasse, 4...",16,16,50,29,49
4,91,1,59113,2413,2292,503,9.5427,4,122.0,32.0,...,84.0,238.0,2552,4,"Zwischenzeit - Radfahren - Ende Runde 1, 9,1 km",16,25,13,38,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,56,1,950,950,950,0,9.8947,4,68.0,45.0,...,125.0,201.0,2515,25,Abschnittszeit - Radfahren Runde 2,0,15,50,15,50
26,57,1,981,981,981,0,9.5821,4,99.0,65.0,...,125.0,201.0,2515,26,Abschnittszeit - Radfahren Runde 3,0,16,21,16,21
27,58,1,979,979,979,0,10.0160,4,77.0,48.0,...,124.0,200.0,2515,27,Abschnittszeit - Radfahren Runde 4,0,16,19,16,19
28,59,1,1990,1990,1990,0,2.4127,1,196.0,123.0,...,124.0,200.0,2515,28,Abschnittszeit - Laufen Runde 1,0,33,10,33,10
29,60,1,2281,2281,2281,0,2.2800,1,179.0,109.0,...,117.0,191.0,2515,29,Abschnittszeit - Laufen Runde 2,0,38,1,38,1

In [140]:
df_splits.to_csv('splits.csv')

In [143]:
df_olympic['competition_type'] = 'Olympisch'
df_sprint['competition_type'] = 'Sprint'
df_team = pd.concat([df_olympic,df_sprint])

In [145]:
df_team.to_csv('teams.csv')

In [119]:
get_df_splits('sprint','2551')

not started / finished

In [110]:
df.hdfead()

,Split,Exist,TOD,Gun,Chip,Sector,Speed,SpeedUnit,RO,RG,RA,ROM,RGM,RAM,bib,split_normalized,split_name,TOD h,TOD min
0,87,1,56822,122,0,0,0.0000,1,1,1,1,241,84,241,2552,0,Zwischenzeit - Gestartet,15.783889,47.033333
1,88,1,57925,1225,1103,1103,0.6804,3,123,39,123,237,84,237,2552,1,Zwischenzeit - Ende Schwimmen,16.090278,5.416667
2,89,1,58132,1432,1310,207,1.9337,0,139,44,139,237,84,237,2552,2,Zwischenzeit - Start Radfahren,16.147778,8.866667
3,90,1,58610,1910,1789,479,8.9772,4,133,38,133,237,84,237,2552,3,"Zwischenzeit - Radfahren - Bellerivestrasse, 4...",16.280556,16.833333
4,91,1,59113,2413,2292,503,9.5427,4,122,32,122,238,84,238,2552,4,"Zwischenzeit - Radfahren - Ende Runde 1, 9,1 km",16.420278,25.216667

In [115]:
df['TOD h'] = df['TOD'] // 3600
df['TOD min'] = (df['TOD'] % 3600) // 60
df['TOD sec'] = (df['TOD'] % 3600) % 60
df['Chip min'] = df['Chip'] // 60
df['Chip sec'] = (df['Chip'] % 60)

In [116]:
df[['split_name','TOD','TOD h','TOD min','TOD sec','Chip min','Chip sec']]

,split_name,TOD,TOD h,TOD min,TOD sec,Chip min,Chip sec
0,Zwischenzeit - Gestartet,56822,15,47,2,0,0
1,Zwischenzeit - Ende Schwimmen,57925,16,5,25,18,23
2,Zwischenzeit - Start Radfahren,58132,16,8,52,21,50
3,"Zwischenzeit - Radfahren - Bellerivestrasse, 4...",58610,16,16,50,29,49
4,"Zwischenzeit - Radfahren - Ende Runde 1, 9,1 km",59113,16,25,13,38,12
5,"Zwischenzeit - Radfahren - Bellerivestrasse, 1...",59611,16,33,31,46,30
6,Zwischenzeit - Ende Radfahren,60170,16,42,50,55,48
7,Zwischenzeit - Start Laufen,60305,16,45,5,58,3
8,Zwischenzeit - Laufen - Mythenquai 0.9 km,60618,16,50,18,63,17
9,"Zwischenzeit - Laufen - Utoquai, 3 km",61147,16,59,7,72,6
10,"Zwischenzeit - Laufen - Mythenquai, 4 km",61681,17,8,1,81,0
11,Zwischenzeit - Auf der Zielgerade,62174,17,16,14,89,12
12,Zwischenzeit - Ziel,62194,17,16,34,89,32
13,Abschnittszeit - Schwimmen,1103,0,18,23,18,23
14,Abschnittszeit - Wechsel 1,207,0,3,27,3,27
15,Abschnittszeit - Radfahren,2039,0,33,59,33,59
16,Abschnittszeit - Wechsel 2,135,0,2,15,2,15
17,Abschnittszeit - Laufen,1889,0,31,29,31,29
18,Abschnittszeit - Radfahren Runde 1,982,0,16,22,16,22
19,Abschnittszeit - Radfahren Runde 2,1057,0,17,37,17,37

In [79]:
mapping_sprint = {0:'Zwischenzeit - Gestartet',
            1:'Zwischenzeit - Ende Schwimmen',
            2:'Zwischenzeit - Start Radfahren',
            3:'Zwischenzeit - Radfahren - Bellerivestrasse, 4,3 km',
            4:'Zwischenzeit - Radfahren - Ende Runde 1, 9,1 km',
            5:'Zwischenzeit - Radfahren - Bellerivestrasse, 13,7 km',
            6:'Zwischenzeit - Ende Radfahren',
            7:'Zwischenzeit - Start Laufen',
            8:'Zwischenzeit - Laufen - Mythenquai 0.9 km',
            9:'Zwischenzeit - Laufen - Utoquai, 3 km',
            10:'Zwischenzeit - Laufen - Mythenquai, 4 km',
            11:'Zwischenzeit - Auf der Zielgerade',
            12:'Zwischenzeit - Ziel',
            13:'Abschnittszeit - Schwimmen',
            14:'Abschnittszeit - Wechsel 1',
            15:'Abschnittszeit - Radfahren',
            16:'Abschnittszeit - Wechsel 2',
            17:'Abschnittszeit - Laufen',
            18:'Abschnittszeit - Radfahren Runde 1',
            19:'Abschnittszeit - Radfahren Runde 2'}

In [75]:
mapping_olympisch = {0:'Zwischenzeit - Gestartet',
            1:'Zwischenzeit - Ende Schwimmen',
            2:'Zwischenzeit - Start Radfahren',
            3:'Zwischenzeit - Radfahren - Bellerivestrasse, 4,3 km',
            4:'Zwischenzeit - Radfahren - Ende Runde 1, 9,1 km',
            5:'Zwischenzeit - Radfahren - Bellerivestrasse, 13,7 km',
            6:'Zwischenzeit - Radfahren - Ende Runde 2, 18,5 km',
            7:'Zwischenzeit - Radfahren - Bellerivestrasse, 23,1 km',
            8:'Zwischenzeit - Radfahren - Ende Runde 3, 27,9 km',
            9:'Zwischenzeit - Radfahren - Bellerivestrasse, 32,6 km',
            10:'Zwischenzeit - Ende Radfahren',
            11:'Zwischenzeit - Start Laufen',
            12:'Zwischenzeit - Laufen - Start Runde 1, 0.9 km',
            13:'Zwischenzeit - Laufen - Utoquai, 3 km',
            14:'Zwischenzeit - Laufen - Ende Runde 1, 4,8 km',
            15:'Zwischenzeit - Laufen - Utoquai, 6,8 km',
            16:'Zwischenzeit - Laufen - Mythenquai, 8,8 km',
            17:'Zwischenzeit - Auf der Zielgerade',
            18:'Zwischenzeit - Ziel',
            19:'Abschnittszeit - Schwimmen',
            20:'Abschnittszeit - Wechsel 1',
            21:'Abschnittszeit - Radfahren',
            22:'Abschnittszeit - Wechsel 2',
            23:'Abschnittszeit - Laufen',
            24:'Abschnittszeit - Radfahren Runde 1',
            25:'Abschnittszeit - Radfahren Runde 2',
            26:'Abschnittszeit - Radfahren Runde 3',
            27:'Abschnittszeit - Radfahren Runde 4',
            28:'Abschnittszeit - Laufen Runde 1',
            29:'Abschnittszeit - Laufen Runde 2'}

In [78]:
df_timestamp.head()

,Split,Exist,TOD,Gun,Chip,Sector,Speed,SpeedUnit,RO,RG,RA,ROM,RGM,RAM,bib,split_normalized,split_name
0,31,1,54003,3,0,0,0.0000,1,1,1,1,202,126,202,2301,0,Zwischenzeit - Gestartet
1,32,1,55352,1352,1350,1350,1.1117,3,3,3,3,201,125,201,2301,1,Zwischenzeit - Ende Schwimmen
2,33,1,55487,1487,1484,135,2.9704,0,3,3,3,201,125,201,2301,2,Zwischenzeit - Start Radfahren
3,34,1,55885,1885,1883,399,10.7949,4,2,2,2,201,125,201,2301,3,"Zwischenzeit - Radfahren - Bellerivestrasse, 4..."
4,35,1,56306,2306,2304,421,11.4014,4,1,1,1,201,125,201,2301,4,"Zwischenzeit - Radfahren - Ende Runde 1, 9,1 km"